.App {
  margin: 0;
  padding: 0;
}


:root {
  --primary-color: #233535;
  --secondary-color: #131e15;
  --accent-color: #347575;
  --background-color: #000000;
  --text-color: #e0e8ff;


}

/* Light theme */
.light-theme {
  --primary-color: #FFE0B5;
  --secondary-color: #302e2a;
  --accent-color: #e98f28;
  --background-color: #FAF7F0;
  --text-color: #a97a62;
}